 <div class="left"><div class="category"><a data-name="rock" href="rock">ROCK</a></div>
  <div class="category"><a data-name="alternative" href="alternative">ALTERNATIVE</a></div>
  <div class="category"><a data-name="indie" href="indie">INDIE</a></div>
  <div class="category"><a data-name="punk" href="punk">PUNK</a></div></div>
  <div class="right"> </div></div>